body {
    background-color: midnightblue;
}

h1 {
    font-size: 50px;
    color: navy;
    background-color: pink;
    text-align: center;
    border-radius: 5px;
}

h2 {
    font-size: 20px;
    color: purple;
}

.lucifer {
    font-size: 15px;
    color: silver;
}